// main: ../global.scss

/** ================================================
               # COLORS
================================================ **/


$rouge     : #FF4E4E;
$gris      : #505050;
$blanc     : #fff;
$noir      : #000;
