// main: ../global.scss

/** ================================================
               # CREATIF
================================================ **/

.creatif {

  .wrap .illustration {
    display: flex;
    width: 100%;
    padding-top: 5px;
    overflow-x: auto;
    overflow-y: hidden;
    &::before, &::after {
    	content: "";
    	min-width: 30px;
      width: 100%;
    }
    img {
      margin: auto 30px;
      &:first-child { margin-top: 0; min-width: 230px; width: 230px; }
      &:nth-child(2) { margin-bottom: 0; min-width: 220px; width: 220px; }
      &:last-child { margin-top: 10px; min-width: 200px; width: 200px; }
    }
  }

  .wrap .argument { animation-delay: 1.5s; }


}




/** ------------------------------------------------
                tablette paysage
------------------------------------------------ **/

@media (min-width: $tablette-paysage) { }

/** ------------------------------------------------
                tablette portrait
------------------------------------------------ **/

@media (min-width: $tablette-portrait) { }

/** ------------------------------------------------
                Mobile
------------------------------------------------ **/

@media (min-width: $mobile) { }
