// main: ../global.scss

/** ================================================
               # REPOSANT
================================================ **/

.reposant {

  .wrap {
    margin-top: 0;
    .illustration { height: auto; max-height: 492px; }
    .argument { animation-delay: 1.5s; }
  }

}




/** ------------------------------------------------
                tablette paysage
------------------------------------------------ **/

@media (min-width: $tablette-paysage) { }

/** ------------------------------------------------
                tablette portrait
------------------------------------------------ **/

@media (min-width: $tablette-portrait) {
  .reposant {
    .wrap { margin-top: auto; }
  }
}

/** ------------------------------------------------
                Mobile
------------------------------------------------ **/

@media (min-width: $mobile) { }
